//*colors

$navBgColors:#35424A;
$claruswayPink:#A9508B;
$colorText:white;
$colorButton:#E44E27;
$serviceBgColor:#F4F4F4;

//* fonts

$fontFam : "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$fontSize: 14px;


